<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id = "helloWorld" class = "com.edu.scci.sp.HelloWorld" scope="prototype">
      <property name = "message" value = "Hello World!"/>
   </bean>
   
	<bean id="exampleBean" class="com.edu.scci.sp.ExampleBean">
		<property name="prop" value="Initialize" />
	</bean>
	
	<bean id="exampleBean1" class="com.edu.scci.sp.ExampleBean" init-method="init">
		<property name="prop" value="Initialize2222" />
	</bean>	
	
<!-- 	<bean class="com.edu.scci.sp.InitializePostProcessor" /> -->
	
	<bean id="person" class="com.edu.scci.sp.Person">
		<property name="name" value="hong" />
		<property name="address" value="seoul" />
	</bean>
	
	<bean id="student" class="com.edu.scci.sp.Student" parent="person">
		<property name="name" value="kim" />
		<property name="roomNo" value="3" />
	</bean>

</beans>